html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;      /* u dont want them to scroll left or right on the webpage, only can up and down */
}

.logo{
  display:inline-block;
  padding-left: 40px;
}

.logo a{
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:750;
  font-size:large;
}

.navbar{
  float:right;
}

.navbar li{
  display:inline-block;
  padding-right: 45px;
  padding-top: 5px;
}

.navbar li a{
  list-style:none;
  text-decoration:none;
  color:white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:600;
}

nav{
  background : #262626;
  position:sticky;
  top:0;
  z-index:1;
  
}

.container{
  position:relative;
}

.container img{
  display:block;
}

.starter-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:50px;
  text-align:center; 
  font-weight:700;
  color:white;
}

 .starter-text p{
  font-size:25px;
  font-weight:350;
}  

.starter-text span{
  color:#ffcc99;
}

.starter-text a{
  text-decoration:none;
  list-style: none;
  font-size:20px;
  color:white;
  background-color: #333333;
  padding: 10px;
}

.float-container{
  display:flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.float-container img{
  max-width:100%;
}

.image{
  flex:1;
}

.text{
  flex:1;
  padding:50px 10px;
  text-align:center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 750;
  color:white;
  background:#333333;
}

.text span{
  color:#ffc266;
}

.text p {
  font-size: 20px;
  font-weight: 500;
}

#read-more{
  text-decoration: none;
  font-size:20px;
  font-weight:600;
  background:white;
  padding:10px;
  color:black
}





